# Set correct MIME types
AddType application/javascript .js
AddType application/javascript .mjs
AddType text/css .css

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # If the requested filename is NOT a real file or directory, redirect to index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>
